{% extends 'base.html' %} 
{% block content %}
<div>
    <h1>Social</h1>
    <strong>List of users that are followed by {{ target_user_name }}</strong>
    <ul>
        {% for user in follower_users %}
            <li><a href="{% url 'view_account' user.target_user_id__username %}">{{user.target_user_id__first_name}}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <strong> List of users that follow {{ target_user_name }}</strong>
    <ul>
        {% for user in target_users %}
            <li><a href="{% url 'view_account' user.follower_user_id__username %}">{{user.follower_user_id__first_name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}