{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>MANAGE TAGS</h1>
<div>
    <h2>CREATE TAGS</h2>
    <label for="input_tag_name">Name</label>
    <input id="input_tag_name" name="input_tag_name" type="text" placeholder="Name" autocomplete="off">
    <button id="btn_create_tag">CREATE TAG</button>

    <hr>
    
    <h2>EDIT TAG</h2>
    <label for="input_search_tag">Search Tag</label>
    <input id="input_search_tag" name="input_search_tag" type="text" autocomplete="off">
    
    <br>

    <label for="fixed_input_tag_name">Name</label>
    <input name="fixed_input_tag_name" type="text" autocomplete="off" disabled>

    <br>

    <label for="approved_state">Approve State</label>
    <input name="approved_state" type="text" autocomplete="off" disabled>

    <br>

    <button>APPROVE</button>
</div>
<script type="text/javascript" src="{% static 'js/main_app/tags_management.js' %}"></script>
{% endblock %}