{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div>
    <h1>VIEW ACCOUNT</h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" value={{name}} class="form-control" disabled>

        <label for="username">Username</label>
        <input id="target_username" name="username" type="text" value={{target_username}} class="form-control" disabled>

        <label for="tags">Interest Tags</label>
        <ul>
            {% for tag in tags %}
                    <li>{{tag.tag_id__name}}</li>
                {% empty %}
                    <li>The user doesn't have preferred tags</li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'social' target_username %}">Social</a>
        <br>
        <a href="{% url 'filter' %}?par1={{ target_username }}">User's Posts</a>
        <br>

        <div class="form">
            <input id="input_follower" name="follower_user" type="hidden" value="{{ logged_username }}"">
            <input id="input_target" name="target_user" type="hidden" value="{{ target_username }}"">
            <button id="btn_follow">Follow User</button>
        </div>
        <br>
        <a href="{% url 'home' %}">Back</a>
    </div>
    <script type="text/javascript" src='{% static "js/main_app/view_account.js" %}'></script>
</div>
{% endblock %}
