{% load static %}
<html>
  <head>
    <title>Social Recipes</title>
 
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <style>
      .col-centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'home' %}">HOME</a>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"
    ></script>
    <script
      src="{% static 'node_modules/jquery-ui/dist/jquery-ui.min.js' %}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/modal-vanilla/dist/modal.min.js' %}"></script>
    {% block content %} {% endblock %}
    
 
    
  </body>
</html>